<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>课表</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>时间</th>
				<th>星期一</th>
				<th>星期二</th>
				<th>星期三</th>
				<th>星期四</th>
				<th>星期五</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>8:00-9:00</td>
				<td class="course" id="course1"></td>
				<td class="course" id="course2"></td>
				<td class="course" id="course3"></td>
				<td class="course" id="course4"></td>
				<td class="course" id="course5"></td>
			</tr>
			<tr>
				<td>9:00-10:00</td>
				<td class="course" id="course6"></td>
				<td class="course" id="course7"></td>
				<td class="course" id="course8"></td>
				<td class="course" id="course9"></td>
				<td class="course" id="course10"></td>
			</tr>
			<tr>
				<td>10:00-11:00</td>
				<td class="course" id="course11"></td>
				<td class="course" id="course12"></td>
				<td class="course" id="course13"></td>
				<td class="course" id="course14"></td>
				<td class="course" id="course15"></td>
			</tr>
			<tr>
				<td>11:00-12:00</td>
				<td class="course" id="course16"></td>
				<td class="course" id="course17"></td>
				<td class="course" id="course18"></td>
				<td class="course" id="course19"></td>
				<td class="course" id="course20"></td>
			</tr>
			<tr>
				<td>14:00-15:00</td>
				<td class="course" id="course21"></td>
				<td class="course" id="course22"></td>
				<td class="course" id="course23"></td>
				<td class="course" id="course24"></td>
				<td class="course" id="course25"></td>
			</tr>
			<tr>
				<td>15:00-16:00</td>
				<td class="course" id="course26"></td>
				<td class="course" id="course27"></td>
				<td class="course" id="course28"></td>
				<td class="course" id="course29"></td>
				<td class="course" id="course30"></td>
			</tr>
			<tr>
				<td>16:00-17:00</td>
				<td class="course" id="course31"></td>
				<td class="course" id="course32"></td>
				<td class="course" id="course33"></td>
				<td class="course" id="
